$navbar-dropdown-arrow: black;
$light : #eefcff;
$primary : #89C2D9;
$link : #023E8A;

@import "../node_modules/bulma/sass";

body {
    width: 100%;
    height: 100vh;
}

// ------------- navbar ------------- //

.navbar {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute; 
    top: 0;  
    width: 95%; 
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    border-bottom: none;
}

.navbar.has-centered-logo {
    .navbar-start,
    .navbar-end {
        flex:1 1 0;
    }
}

.navbar-logo {
    width: 250px;
    height: auto;
}

.navbar-logo-mobile {
    width: 200px;
    height: auto;
}

.navbar-logo img {
    max-height: none;
}

.navbar-logo-mobile img {
    max-height: none;
}

.navbar-link::after{
    border-color: black transparent transparent transparent;
}

.navbar-dropdown {
    display: none; 
  }
  
  .navbar-item.is-active .navbar-dropdown {
    display: block; 
  }

  i {
    margin-left: 5px;
    margin-right: 10px;
  }


//----------------- fiche produit --------------//

.section-produit {
    width: 95%;
    min-height: 80vh;
    background-color: $light;
    border-radius: 50px;
    position: relative;
    top: 0px;
    margin: 0 auto;
}

@media screen and (min-width:400px) {
    .section-produit {
      top: 20px;
    }
}

.product-container {
    padding: 20px;
  }
  .product-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .modal {
    display: none;
  }
  .modal.is-active {
    display: flex;
  }

.label {
    padding-top: 8px;
}


#product {
    pointer-events: none;
    cursor: default;
    color: lightgray;
}

input, textarea:focus {
    outline-color: $primary;
}

// -------- Section footer --------//

.footer {
  background-color: #01497C;
  position: relative;
  top: 25px;
  width: 95%;
  border-radius: 50px;
  margin: 0 auto 30px auto;
}